In [2]:
import pandas as pd

# File paths
data_path = "../data"

# Load datasets with encoding handling for problematic files
datasets = {
    "train": pd.read_csv(data_path + "/train.csv"),
    "sample_submission": pd.read_csv(data_path + "/sample_submission.csv"),
    "meal_info": pd.read_csv(data_path + "/meal_info.csv"),
    "fulfilment_center_info": pd.read_csv(data_path + "/fulfilment_center_info.csv"),
    "test": pd.read_csv(data_path + "/test.csv"),
    "balaji_fast_food": pd.read_csv(data_path + "/Balaji Fast Food Sales.csv"),
    "cafe_ocean": pd.read_csv(data_path + "/Cafe_Ocean.csv"),
    "country_code": pd.read_csv(data_path + "/Country-Code.csv"),
    "dataset": pd.read_csv(data_path + "/dataset.csv"),
    "dataset2": pd.read_csv(data_path + "/DATASET2.csv"),
    # Handle encoding for these files
    "zomato": pd.read_csv(data_path + "/zomato.csv", encoding="ISO-8859-1"),
    "chaska_cafe": pd.read_csv(data_path + "/chaska_cafe_sales_data.csv", encoding="ISO-8859-1"),
}

# Inspect datasets
for name, df in datasets.items():
    print(f"\n{name.upper()} - Overview:")
    print(f"Shape: {df.shape}")
    print(f"Columns: {list(df.columns)}")
    print(df.head())

# Check for missing data
for name, df in datasets.items():
    print(f"\n{name.upper()} - Missing Data:")
    print(df.isnull().sum())

# Check data types
for name, df in datasets.items():
    print(f"\n{name.upper()} - Data Types:")
    print(df.dtypes)

# Check for irregular values
for name, df in datasets.items():
    print(f"\n{name.upper()} - Sample Data with Irregularities:")
    print(df[df.isin(['######', None, '']).any(axis=1)].head())  # Identify rows with invalid placeholders

C:\Users\sampa\AppData\Local\Temp\ipykernel_1860\2505144353.py:17: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  "dataset2": pd.read_csv(data_path + "/DATASET2.csv"),

TRAIN - Overview:
Shape: (456548, 9)
Columns: ['id', 'week', 'center_id', 'meal_id', 'checkout_price', 'base_price', 'emailer_for_promotion', 'homepage_featured', 'num_orders']
        id  week  center_id  meal_id  checkout_price  base_price  \
0  1379560     1         55     1885          136.83      152.29
1  1466964     1         55     1993          136.83      135.83
2  1346989     1         55     2539          134.86      135.86
3  1338232     1         55     2139          339.50      437.53
4  1448490     1         55     2631          243.50      242.50

   emailer_for_promotion  homepage_featured  num_orders
0                      0                  0         177
1                      0                  0         270
2                      0                  0         189
3                      0                  0          54
4                      0                  0          40

SAMPLE_SUBMISSION - Overview:
Shape: (32573, 2)
Columns: ['id', 'num_orders']
        id  num_orders
0  1028232           0
1  1127204           0
2  1212707           0
3  1082698           0
4  1400926           0

MEAL_INFO - Overview:
Shape: (51, 3)
Columns: ['meal_id', 'category', 'cuisine']
   meal_id   category cuisine
0     1885  Beverages    Thai
1     1993  Beverages    Thai
2     2539  Beverages    Thai
3     1248  Beverages  Indian
4     2631  Beverages  Indian

FULFILMENT_CENTER_INFO - Overview:
Shape: (77, 5)
Columns: ['center_id', 'city_code', 'region_code', 'center_type', 'op_area']
   center_id  city_code  region_code center_type  op_area
0         11        679           56      TYPE_A      3.7
1         13        590           56      TYPE_B      6.7
2        124        590           56      TYPE_C      4.0
3         66        648           34      TYPE_A      4.1
4         94        632           34      TYPE_C      3.6

TEST - Overview:
Shape: (32573, 8)
Columns: ['id', 'week', 'center_id', 'meal_id', 'checkout_price', 'base_price', 'emailer_for_promotion', 'homepage_featured']
        id  week  center_id  meal_id  checkout_price  base_price  \
0  1028232   146         55     1885          158.11      159.11
1  1127204   146         55     1993          160.11      159.11
2  1212707   146         55     2539          157.14      159.14
3  1082698   146         55     2631          162.02      162.02
4  1400926   146         55     1248          163.93      163.93

   emailer_for_promotion  homepage_featured
0                      0                  0
1                      0                  0
2                      0                  0
3                      0                  0
4                      0                  0

BALAJI_FAST_FOOD - Overview:
Shape: (1000, 10)
Columns: ['order_id', 'date', 'item_name', 'item_type', 'item_price', 'quantity', 'transaction_amount', 'transaction_type', 'received_by', 'time_of_sale']
   order_id        date        item_name  item_type  item_price  quantity  \
0         1  07-03-2022         Aalopuri   Fastfood          20        13
1         2   8/23/2022          Vadapav   Fastfood          20        15
2         3  11/20/2022          Vadapav   Fastfood          20         1
3         4  02-03-2023  Sugarcane juice  Beverages          25         6
4         5  10-02-2022  Sugarcane juice  Beverages          25         8

   transaction_amount transaction_type received_by time_of_sale
0                 260              NaN         Mr.        Night
1                 300             Cash         Mr.    Afternoon
2                  20             Cash         Mr.    Afternoon
3                 150           Online         Mr.        Night
4                 200           Online         Mr.      Evening

CAFE_OCEAN - Overview:
Shape: (145830, 10)
Columns: ['Date', 'Bill Number ', 'Item Desc', 'Time', 'Quantity', 'Rate', 'Tax', 'Discount', 'Total', 'Category']
         Date Bill Number                  Item Desc         Time  Quantity  \
0  01/01/2020     G0470115     MINERAL WATER(1000ML)  01:15:11 PM         1
1  01/01/2020     G0470115  MONSOON MALABAR (AULAIT)  01:15:11 PM         1
2  01/01/2020     G0470116       MASALA CHAI CUTTING  01:17:35 PM         1
3  01/01/2020     G0470117     MINERAL WATER(1000ML)  01:19:55 PM         1
4  01/01/2020     G0470283         MOROCCAN MINT TEA  01:20:18 AM         1

    Rate    Tax  Discount   Total  Category
0   50.0  11.88       0.0   61.88  BEVERAGE
1  100.0  23.75       0.0  123.75  BEVERAGE
2   40.0   9.50       0.0   49.50  BEVERAGE
3   50.0  11.88       0.0   61.88  BEVERAGE
4   45.0  10.69       0.0   55.69  BEVERAGE

COUNTRY_CODE - Overview:
Shape: (15, 2)
Columns: ['Country Code', 'Country']
   Country Code    Country
0             1      India
1            14  Australia
2            30     Brazil
3            37     Canada
4            94  Indonesia

DATASET - Overview:
Shape: (1000, 15)
Columns: ['sl no', 'date', 'item_name', 'item_type', 'Unnamed: 4', 'quantity', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'time_of_sale', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'item', 'count']
   sl no        date        item_name  item_type  Unnamed: 4  quantity  \
0      1  01/04/2022         Sandwich   Fastfood         NaN         7
1      2  01/05/2022         Aalopuri   Fastfood         NaN        13
2      3  01/06/2022         Panipuri   Fastfood         NaN         6
3      4  01/07/2022          Vadapav   Fastfood         NaN         5
4      5  01/07/2022  Sugarcane juice  Beverages         NaN         7

   Unnamed: 6  Unnamed: 7  Unnamed: 8 time_of_sale  Unnamed: 10  Unnamed: 11  \
0         NaN         NaN         NaN      Evening          NaN          NaN
1         NaN         NaN         NaN    Afternoon          NaN          NaN
2         NaN         NaN         NaN      Evening          NaN          NaN
3         NaN         NaN         NaN      Morning          NaN          NaN
4         NaN         NaN         NaN     Midnight          NaN          NaN

   Unnamed: 12             item   count
0          NaN         Sandwich  1097.0
1          NaN         Aalopuri  1044.0
2          NaN         Panipuri  1226.0
3          NaN          Vadapav  1006.0
4          NaN  Sugarcane juice  1278.0

DATASET2 - Overview:
Shape: (145830, 9)
Columns: ['Date', 'Unnamed: 1', 'Item Desc', 'Unnamed: 3', 'Quantity', 'Category', 'Unnamed: 6', 'ITEM', 'COUNT']
         Date  Unnamed: 1                 Item Desc  Unnamed: 3  Quantity  \
0  01/01/2020         NaN     MINERAL WATER(1000ML)         NaN         1
1  01/01/2020         NaN  MONSOON MALABAR (AULAIT)         NaN         1
2  01/01/2020         NaN       MASALA CHAI CUTTING         NaN         1
3  01/01/2020         NaN     MINERAL WATER(1000ML)         NaN         1
4  01/01/2020         NaN         MOROCCAN MINT TEA         NaN         1

   Category  Unnamed: 6                      ITEM   COUNT
0  BEVERAGE         NaN     MINERAL WATER(1000ML)  3633.0
1  BEVERAGE         NaN  MONSOON MALABAR (AULAIT)   237.0
2  BEVERAGE         NaN       MASALA CHAI CUTTING  2993.0
3  BEVERAGE         NaN         MOROCCAN MINT TEA  2812.0
4  BEVERAGE         NaN                CAPPUCCINO  7144.0

ZOMATO - Overview:
Shape: (9551, 21)
Columns: ['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address', 'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two', 'Currency', 'Has Table booking', 'Has Online delivery', 'Is delivering now', 'Switch to order menu', 'Price range', 'Aggregate rating', 'Rating color', 'Rating text', 'Votes']
   Restaurant ID         Restaurant Name  Country Code              City  \
0        6317637        Le Petit Souffle           162       Makati City
1        6304287        Izakaya Kikufuji           162       Makati City
2        6300002  Heat - Edsa Shangri-La           162  Mandaluyong City
3        6318506                    Ooma           162  Mandaluyong City
4        6314302             Sambo Kojin           162  Mandaluyong City

                                             Address  \
0  Third Floor, Century City Mall, Kalayaan Avenu...
1  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3  Third Floor, Mega Fashion Hall, SM Megamall, O...
4  Third Floor, Mega Atrium, SM Megamall, Ortigas...

                                     Locality  \
0   Century City Mall, Poblacion, Makati City
1  Little Tokyo, Legaspi Village, Makati City
2  Edsa Shangri-La, Ortigas, Mandaluyong City
3      SM Megamall, Ortigas, Mandaluyong City
4      SM Megamall, Ortigas, Mandaluyong City

                                    Locality Verbose   Longitude   Latitude  \
0  Century City Mall, Poblacion, Makati City, Mak...  121.027535  14.565443
1  Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101  14.553708
2  Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831  14.581404
3  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475  14.585318
4  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508  14.584450

                           Cuisines  ...          Currency Has Table booking  \
0        French, Japanese, Desserts  ...  Botswana Pula(P)               Yes
1                          Japanese  ...  Botswana Pula(P)               Yes
2  Seafood, Asian, Filipino, Indian  ...  Botswana Pula(P)               Yes
3                   Japanese, Sushi  ...  Botswana Pula(P)                No
4                  Japanese, Korean  ...  Botswana Pula(P)               Yes

  Has Online delivery Is delivering now Switch to order menu Price range  \
0                  No                No                   No           3
1                  No                No                   No           3
2                  No                No                   No           4
3                  No                No                   No           4
4                  No                No                   No           4

   Aggregate rating  Rating color Rating text Votes
0               4.8    Dark Green   Excellent   314
1               4.5    Dark Green   Excellent   591
2               4.4         Green   Very Good   270
3               4.9    Dark Green   Excellent   365
4               4.8    Dark Green   Excellent   229

[5 rows x 21 columns]

CHASKA_CAFE - Overview:
Shape: (13140, 4)
Columns: ['Date', 'Category', 'Item', 'Sales']
         Date     Category                Item  Sales
0  01-01-2023  Veg Burgers  Classic Veg Burger     32
1  01-01-2023  Veg Burgers   Cheese Veg Burger     31
2  01-01-2023  Veg Burgers    Spicy Veg Burger     18
3  01-01-2023  Veg Burgers   Aloo Tikki Burger     47
4  01-01-2023   Veg Pizzas    Margherita Pizza     18

TRAIN - Missing Data:
id                       0
week                     0
center_id                0
meal_id                  0
checkout_price           0
base_price               0
emailer_for_promotion    0
homepage_featured        0
num_orders               0
dtype: int64

SAMPLE_SUBMISSION - Missing Data:
id            0
num_orders    0
dtype: int64

MEAL_INFO - Missing Data:
meal_id     0
category    0
cuisine     0
dtype: int64

FULFILMENT_CENTER_INFO - Missing Data:
center_id      0
city_code      0
region_code    0
center_type    0
op_area        0
dtype: int64

TEST - Missing Data:
id                       0
week                     0
center_id                0
meal_id                  0
checkout_price           0
base_price               0
emailer_for_promotion    0
homepage_featured        0
dtype: int64

BALAJI_FAST_FOOD - Missing Data:
order_id                0
date                    0
item_name               0
item_type               0
item_price              0
quantity                0
transaction_amount      0
transaction_type      107
received_by             0
time_of_sale            0
dtype: int64

CAFE_OCEAN - Missing Data:
Date            0
Bill Number     0
Item Desc       0
Time            0
Quantity        0
Rate            0
Tax             0
Discount        0
Total           0
Category        0
dtype: int64

COUNTRY_CODE - Missing Data:
Country Code    0
Country         0
dtype: int64

DATASET - Missing Data:
sl no              0
date               0
item_name          0
item_type          0
Unnamed: 4      1000
quantity           0
Unnamed: 6      1000
Unnamed: 7      1000
Unnamed: 8      1000
time_of_sale       0
Unnamed: 10     1000
Unnamed: 11     1000
Unnamed: 12     1000
item             993
count            993
dtype: int64

DATASET2 - Missing Data:
Date               0
Unnamed: 1    145830
Item Desc          0
Unnamed: 3    145830
Quantity           0
Category           0
Unnamed: 6    145830
ITEM          145251
COUNT         145251
dtype: int64

ZOMATO - Missing Data:
Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

CHASKA_CAFE - Missing Data:
Date        0
Category    0
Item        0
Sales       0
dtype: int64

TRAIN - Data Types:
id                         int64
week                       int64
center_id                  int64
meal_id                    int64
checkout_price           float64
base_price               float64
emailer_for_promotion      int64
homepage_featured          int64
num_orders                 int64
dtype: object

SAMPLE_SUBMISSION - Data Types:
id            int64
num_orders    int64
dtype: object

MEAL_INFO - Data Types:
meal_id      int64
category    object
cuisine     object
dtype: object

FULFILMENT_CENTER_INFO - Data Types:
center_id        int64
city_code        int64
region_code      int64
center_type     object
op_area        float64
dtype: object

TEST - Data Types:
id                         int64
week                       int64
center_id                  int64
meal_id                    int64
checkout_price           float64
base_price               float64
emailer_for_promotion      int64
homepage_featured          int64
dtype: object

BALAJI_FAST_FOOD - Data Types:
order_id               int64
date                  object
item_name             object
item_type             object
item_price             int64
quantity               int64
transaction_amount     int64
transaction_type      object
received_by           object
time_of_sale          object
dtype: object

CAFE_OCEAN - Data Types:
Date             object
Bill Number      object
Item Desc        object
Time             object
Quantity          int64
Rate            float64
Tax             float64
Discount        float64
Total           float64
Category         object
dtype: object

COUNTRY_CODE - Data Types:
Country Code     int64
Country         object
dtype: object

DATASET - Data Types:
sl no             int64
date             object
item_name        object
item_type        object
Unnamed: 4      float64
quantity          int64
Unnamed: 6      float64
Unnamed: 7      float64
Unnamed: 8      float64
time_of_sale     object
Unnamed: 10     float64
Unnamed: 11     float64
Unnamed: 12     float64
item             object
count           float64
dtype: object

DATASET2 - Data Types:
Date           object
Unnamed: 1    float64
Item Desc      object
Unnamed: 3    float64
Quantity        int64
Category       object
Unnamed: 6    float64
ITEM           object
COUNT         float64
dtype: object

ZOMATO - Data Types:
Restaurant ID             int64
Restaurant Name          object
Country Code              int64
City                     object
Address                  object
Locality                 object
Locality Verbose         object
Longitude               float64
Latitude                float64
Cuisines                 object
Average Cost for two      int64
Currency                 object
Has Table booking        object
Has Online delivery      object
Is delivering now        object
Switch to order menu     object
Price range               int64
Aggregate rating        float64
Rating color             object
Rating text              object
Votes                     int64
dtype: object

CHASKA_CAFE - Data Types:
Date        object
Category    object
Item        object
Sales        int64
dtype: object

TRAIN - Sample Data with Irregularities:
Empty DataFrame
Columns: [id, week, center_id, meal_id, checkout_price, base_price, emailer_for_promotion, homepage_featured, num_orders]
Index: []

SAMPLE_SUBMISSION - Sample Data with Irregularities:
Empty DataFrame
Columns: [id, num_orders]
Index: []

MEAL_INFO - Sample Data with Irregularities:
Empty DataFrame
Columns: [meal_id, category, cuisine]
Index: []

FULFILMENT_CENTER_INFO - Sample Data with Irregularities:
Empty DataFrame
Columns: [center_id, city_code, region_code, center_type, op_area]
Index: []

TEST - Sample Data with Irregularities:
Empty DataFrame
Columns: [id, week, center_id, meal_id, checkout_price, base_price, emailer_for_promotion, homepage_featured]
Index: []

BALAJI_FAST_FOOD - Sample Data with Irregularities:
Empty DataFrame
Columns: [order_id, date, item_name, item_type, item_price, quantity, transaction_amount, transaction_type, received_by, time_of_sale]
Index: []

CAFE_OCEAN - Sample Data with Irregularities:
Empty DataFrame
Columns: [Date, Bill Number , Item Desc, Time, Quantity, Rate, Tax, Discount, Total, Category]
Index: []

COUNTRY_CODE - Sample Data with Irregularities:
Empty DataFrame
Columns: [Country Code, Country]
Index: []

DATASET - Sample Data with Irregularities:
Empty DataFrame
Columns: [sl no, date, item_name, item_type, Unnamed: 4, quantity, Unnamed: 6, Unnamed: 7, Unnamed: 8, time_of_sale, Unnamed: 10, Unnamed: 11, Unnamed: 12, item, count]
Index: []

DATASET2 - Sample Data with Irregularities:
Empty DataFrame
Columns: [Date, Unnamed: 1, Item Desc, Unnamed: 3, Quantity, Category, Unnamed: 6, ITEM, COUNT]
Index: []

ZOMATO - Sample Data with Irregularities:
Empty DataFrame
Columns: [Restaurant ID, Restaurant Name, Country Code, City, Address, Locality, Locality Verbose, Longitude, Latitude, Cuisines, Average Cost for two, Currency, Has Table booking, Has Online delivery, Is delivering now, Switch to order menu, Price range, Aggregate rating, Rating color, Rating text, Votes]
Index: []

[0 rows x 21 columns]

CHASKA_CAFE - Sample Data with Irregularities:
Empty DataFrame
Columns: [Date, Category, Item, Sales]
Index: []

In [5]:
# Handle missing values
for name, df in datasets.items():
    print(f"\n{name.upper()} - Missing Values Before Handling:")
    print(df.isnull().sum())

    # Check if 'Date' or 'date' exists and convert to datetime
    if 'Date' in df.columns:
        df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
    elif 'date' in df.columns:
        df['date'] = pd.to_datetime(df['date'], errors='coerce')

    # Forward fill and backward fill missing values
    df.fillna(method='ffill', inplace=True)  # Forward fill
    df.fillna(method='bfill', inplace=True)  # Backward fill

    print(f"\n{name.upper()} - Missing Values After Handling:")
    print(df.isnull().sum())

TRAIN - Missing Values Before Handling:
id                       0
week                     0
center_id                0
meal_id                  0
checkout_price           0
base_price               0
emailer_for_promotion    0
homepage_featured        0
num_orders               0
dtype: int64

TRAIN - Missing Values After Handling:
id                       0
week                     0
center_id                0
meal_id                  0
checkout_price           0
base_price               0
emailer_for_promotion    0
homepage_featured        0
num_orders               0
dtype: int64

SAMPLE_SUBMISSION - Missing Values Before Handling:
id            0
num_orders    0
dtype: int64

SAMPLE_SUBMISSION - Missing Values After Handling:
id            0
num_orders    0
dtype: int64

MEAL_INFO - Missing Values Before Handling:
meal_id     0
category    0
cuisine     0
dtype: int64

MEAL_INFO - Missing Values After Handling:
meal_id     0
category    0
cuisine     0
dtype: int64

FULFILMENT_CENTER_INFO - Missing Values Before Handling:
center_id      0
city_code      0
region_code    0
center_type    0
op_area        0
dtype: int64

FULFILMENT_CENTER_INFO - Missing Values After Handling:
center_id      0
city_code      0
region_code    0
center_type    0
op_area        0
dtype: int64

TEST - Missing Values Before Handling:
id                       0
week                     0
center_id                0
meal_id                  0
checkout_price           0
base_price               0
emailer_for_promotion    0
homepage_featured        0
dtype: int64

TEST - Missing Values After Handling:
id                       0
week                     0
center_id                0
meal_id                  0
checkout_price           0
base_price               0
emailer_for_promotion    0
homepage_featured        0
dtype: int64

BALAJI_FAST_FOOD - Missing Values Before Handling:
order_id              0
date                  0
item_name             0
item_type             0
item_price            0
quantity              0
transaction_amount    0
transaction_type      0
received_by           0
time_of_sale          0
Date                  0
dtype: int64

BALAJI_FAST_FOOD - Missing Values After Handling:
order_id              0
date                  0
item_name             0
item_type             0
item_price            0
quantity              0
transaction_amount    0
transaction_type      0
received_by           0
time_of_sale          0
Date                  0
dtype: int64

CAFE_OCEAN - Missing Values Before Handling:
Date            0
Bill Number     0
Item Desc       0
Time            0
Quantity        0
Rate            0
Tax             0
Discount        0
Total           0
Category        0
dtype: int64

CAFE_OCEAN - Missing Values After Handling:

C:\Users\sampa\AppData\Local\Temp\ipykernel_1860\2680526348.py:13: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)  # Forward fill
C:\Users\sampa\AppData\Local\Temp\ipykernel_1860\2680526348.py:14: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill', inplace=True)  # Backward fill
C:\Users\sampa\AppData\Local\Temp\ipykernel_1860\2680526348.py:13: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)  # Forward fill
C:\Users\sampa\AppData\Local\Temp\ipykernel_1860\2680526348.py:14: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill', inplace=True)  # Backward fill
C:\Users\sampa\AppData\Local\Temp\ipykernel_1860\2680526348.py:13: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)  # Forward fill
C:\Users\sampa\AppData\Local\Temp\ipykernel_1860\2680526348.py:14: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill', inplace=True)  # Backward fill

Date            0
Bill Number     0
Item Desc       0
Time            0
Quantity        0
Rate            0
Tax             0
Discount        0
Total           0
Category        0
dtype: int64

COUNTRY_CODE - Missing Values Before Handling:
Country Code    0
Country         0
dtype: int64

COUNTRY_CODE - Missing Values After Handling:
Country Code    0
Country         0
dtype: int64

DATASET - Missing Values Before Handling:
sl no              0
date               0
item_name          0
item_type          0
Unnamed: 4      1000
quantity           0
Unnamed: 6      1000
Unnamed: 7      1000
Unnamed: 8      1000
time_of_sale       0
Unnamed: 10     1000
Unnamed: 11     1000
Unnamed: 12     1000
item               0
count              0
dtype: int64

DATASET - Missing Values After Handling:
sl no              0
date               0
item_name          0
item_type          0
Unnamed: 4      1000
quantity           0
Unnamed: 6      1000
Unnamed: 7      1000
Unnamed: 8      1000
time_of_sale       0
Unnamed: 10     1000
Unnamed: 11     1000
Unnamed: 12     1000
item               0
count              0
dtype: int64

DATASET2 - Missing Values Before Handling:
Date               0
Unnamed: 1    145830
Item Desc          0
Unnamed: 3    145830
Quantity           0
Category           0
Unnamed: 6    145830
ITEM               0
COUNT              0
dtype: int64

DATASET2 - Missing Values After Handling:
Date               0
Unnamed: 1    145830
Item Desc          0
Unnamed: 3    145830
Quantity           0
Category           0
Unnamed: 6    145830
ITEM               0
COUNT              0
dtype: int64

ZOMATO - Missing Values Before Handling:
Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

ZOMATO - Missing Values After Handling:
Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

CHASKA_CAFE - Missing Values Before Handling:
Date        0
Category    0
Item        0
Sales       0
dtype: int64

CHASKA_CAFE - Missing Values After Handling:
Date        0
Category    0
Item        0
Sales       0
dtype: int64

C:\Users\sampa\AppData\Local\Temp\ipykernel_1860\2680526348.py:13: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)  # Forward fill
C:\Users\sampa\AppData\Local\Temp\ipykernel_1860\2680526348.py:14: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill', inplace=True)  # Backward fill
C:\Users\sampa\AppData\Local\Temp\ipykernel_1860\2680526348.py:13: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)  # Forward fill
C:\Users\sampa\AppData\Local\Temp\ipykernel_1860\2680526348.py:14: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill', inplace=True)  # Backward fill
C:\Users\sampa\AppData\Local\Temp\ipykernel_1860\2680526348.py:13: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)  # Forward fill
C:\Users\sampa\AppData\Local\Temp\ipykernel_1860\2680526348.py:14: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill', inplace=True)  # Backward fill

In [6]:
# Standardize time information
for name, df in datasets.items():
    print(f"\n{name.upper()} - Before Time Alignment:")

    if 'week' in df.columns:
        # Convert 'week' to a standardized date (assuming Week 1 corresponds to a fixed start date)
        df['standardized_date'] = pd.to_datetime("2023-01-01") + pd.to_timedelta(df['week'] * 7, unit='D')
    elif 'Date' in df.columns:
        # Ensure all 'Date' columns are consistently named
        df.rename(columns={'Date': 'standardized_date'}, inplace=True)
    elif 'date' in df.columns:
        # Ensure lowercase 'date' columns are consistently named
        df.rename(columns={'date': 'standardized_date'}, inplace=True)

    # Print a sample of the updated time column
    if 'standardized_date' in df.columns:
        print(df[['standardized_date']].head())

TRAIN - Before Time Alignment:
  standardized_date
0        2023-01-08
1        2023-01-08
2        2023-01-08
3        2023-01-08
4        2023-01-08

SAMPLE_SUBMISSION - Before Time Alignment:

MEAL_INFO - Before Time Alignment:

FULFILMENT_CENTER_INFO - Before Time Alignment:

TEST - Before Time Alignment:
  standardized_date
0        2025-10-19
1        2025-10-19
2        2025-10-19
3        2025-10-19
4        2025-10-19

BALAJI_FAST_FOOD - Before Time Alignment:
  standardized_date
0        2022-07-03
1        2022-07-03
2        2022-07-03
3        2023-02-03
4        2022-10-02

CAFE_OCEAN - Before Time Alignment:
  standardized_date
0        2020-01-01
1        2020-01-01
2        2020-01-01
3        2020-01-01
4        2020-01-01

COUNTRY_CODE - Before Time Alignment:

DATASET - Before Time Alignment:
  standardized_date
0        2022-01-04
1        2022-01-05
2        2022-01-06
3        2022-01-07
4        2022-01-07

DATASET2 - Before Time Alignment:
  standardized_date
0        2020-01-01
1        2020-01-01
2        2020-01-01
3        2020-01-01
4        2020-01-01

ZOMATO - Before Time Alignment:

CHASKA_CAFE - Before Time Alignment:
  standardized_date
0        2023-01-01
1        2023-01-01
2        2023-01-01
3        2023-01-01
4        2023-01-01